Repository Oneflow-Inc/oneflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @liujuncheng, @BBuf, @daquexian, @chengtbf, @strint, @hjchen2, @jackalcooper, @doombeaker

.github/CODEOWNERS:

*.cu @liujuncheng
*.py @BBuf @daquexian
/oneflow/core/cuda @liujuncheng
/oneflow/core/eager @daquexian
/oneflow/core/framework @chengtbf @strint
/oneflow/core/functional @hjchen2
/oneflow/core/graph @chengtbf
/oneflow/core/ndarray @daquexian
/oneflow/core/object_msg @daquexian
/oneflow/core/platform @jackalcooper
/oneflow/core/ep @liujuncheng
/oneflow/core/rpc @jackalcooper
/oneflow/core/stream @liujuncheng
/oneflow/core/hardware @liujuncheng
/oneflow/core/transport @chengtbf
/oneflow/core/vm @daquexian
/oneflow/xrt @hjchen2
/oneflow/ir @hjchen2 @BBuf @jackalcooper
/ci @jackalcooper
/python/oneflow/test_utils @daquexian @BBuf
/cmake @daquexian @jackalcooper
CMakeLists.txt @daquexian @jackalcooper
/.github @jackalcooper
/tools @jackalcooper
/docs @doombeaker

add more test case
  oneflow/core/ep/test/primitive/gather_test.cpp
Owners: @liujuncheng

fix
  oneflow/ir/README.md
  oneflow/ir/include/OneFlow/OKL/Kernel/RegContext.h
  oneflow/ir/include/OneFlow/OKL/Kernel/TmpBufferManager.h
  oneflow/ir/include/OneFlow/OKL/OKLOps.td
  oneflow/ir/lib/OneFlow/OKL/Kernel/ComputeContext.cpp
  oneflow/ir/lib/OneFlow/OKL/Kernel/RegContext.cpp
  oneflow/ir/lib/OneFlow/OKL/README.md
  oneflow/ir/lib/OneFlow/OKM/passes.cpp
  oneflow/ir/test/OneFlow/kernel_launch/test.py
Owners: @hjchen2, @BBuf, @jackalcooper

fix
  oneflow/ir/lib/OneFlow/OKL/Conversion/CudaGraphSupport.cpp
  oneflow/ir/lib/OneFlow/OKL/Kernel/LauncherState.cpp
  oneflow/ir/test/OneFlow/kernel_launch/test_resnet.py
  oneflow/ir/test/OneFlow/kernel_launch/test_sort.py
Owners: @hjchen2, @BBuf, @jackalcooper

fix
  oneflow/core/lazy/actor/actor.cpp
Owners: none

nccl logical fusion op
  oneflow/core/job_rewriter/insert_nccl_logical_op_pass.cpp
  oneflow/core/job_rewriter/job_completer.cpp
  oneflow/core/job_rewriter/nccl_logical_op_fusion_pass.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
Owners: @hjchen2, @BBuf, @jackalcooper

support_float16_nonzero
  oneflow/user/kernels/arg_where_kernel.cpp
  oneflow/user/kernels/arg_where_kernel_util.cpp
  oneflow/user/kernels/arg_where_kernel_util.cu
  python/oneflow/test/modules/test_nonzero.py
Owners: @liujuncheng, @BBuf, @daquexian

skip test_embedding_gradient_shuffle for now
  python/oneflow/test/modules/test_dynamic_allocation_gradient_shuffle_shuffle_global.py
Owners: @BBuf, @daquexian

add unit test for flash attention
  python/oneflow/nn/functional/functional_flash_attention.py
  python/oneflow/test/modules/test_flash_attention.py
Owners: @BBuf, @daquexian

add test_resnet50_without_bn.py with new weights and gt_losses
  python/oneflow/test/expensive/test_resnet50_without_bn.py
Owners: @BBuf, @daquexian

auto format by CI
  python/oneflow/test/expensive/test_resnet50_without_bn.py
Owners: @BBuf, @daquexian
