Repository Oneflow-Inc/oneflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @willzhang4a58, @yuanms2, @Wind5, @chengtbf, @LeGend-AI

add TODO() for unimplementated function
  oneflow/core/job/job_desc.h
Owners: @willzhang4a58

Delete ModelUpdateKernelTest (#188)
  oneflow/core/kernel/model_update_kernel_test.cpp
Owners: @Wind5, @chengtbf, @LeGend-AI

ProcessEord in Actor and fix boxing
  oneflow/core/actor/actor.cpp
  oneflow/core/actor/actor.h
  oneflow/core/actor/boxing_actor.cpp
  oneflow/core/actor/boxing_actor.h
  oneflow/core/actor/bp_data_comp_actor.h
  oneflow/core/actor/copy_comm_net_actor.h
  oneflow/core/actor/copy_hd_actor.h
  oneflow/core/actor/fw_data_comp_actor.h
  oneflow/core/actor/model_diff_accumulate_actor.h
  oneflow/core/actor/model_save_comp_actor.h
  oneflow/core/actor/model_update_comp_actor.h
Owners: @Wind5

remove useless override
  oneflow/core/actor/bp_data_comp_actor.h
  oneflow/core/actor/copy_comm_net_actor.h
  oneflow/core/actor/copy_hd_actor.h
  oneflow/core/actor/fw_data_comp_actor.h
  oneflow/core/actor/model_diff_accumulate_actor.h
  oneflow/core/actor/model_save_comp_actor.h
  oneflow/core/actor/model_update_comp_actor.h
Owners: @Wind5

total_reading_cnt_
  oneflow/core/actor/actor.cpp
Owners: @Wind5

use mut
  oneflow/core/actor/actor.h
  oneflow/core/actor/boxing_actor.cpp
  oneflow/core/actor/boxing_actor.h
Owners: @Wind5

Boxing state (#183)
  oneflow/core/actor/actor.cpp
  oneflow/core/actor/actor.h
  oneflow/core/actor/boxing_actor.cpp
  oneflow/core/actor/boxing_actor.h
Owners: @Wind5

.github/CODEOWNERS:

* @willzhang4a58
/CMakeLists.txt @yuanms2
/cmake @yuanms2
/oneflow/core/actor/ @Wind5
/oneflow/core/kernel/ @Wind5 @chengtbf @LeGend-AI
/oneflow/core/operator/ @Wind5 @chengtbf @LeGend-AI
/oneflow/core/persistence/ @chengtbf
