Repository Oneflow-Inc/oneflow, pull requests merged in 2023-03, with the labels that each got.

#9916 Add knob ONEFLOW_LINEAR_EMBEDDING_SKIP_INIT
  python/oneflow/nn/modules/linear.py
  python/oneflow/nn/modules/sparse.py
Labels: enhancement, automerge, op

#9918 add tensor.baddbmm
  docs/source/tensor.rst
  oneflow/api/python/framework/tensor_functions.cpp
  python/oneflow/framework/docstr/tensor.py
  python/oneflow/test/tensor/test_tensor_part_3.py
Labels: enhancement, automerge, test, api, python

#9923 Use std::string_view
  cmake/third_party.cmake
  cmake/third_party/string_view.cmake
  oneflow/maybe/error.h
  oneflow/maybe/error_test.cpp
  oneflow/maybe/string_view.h
Labels: enhancement, build, system

#9934 GroupedMatmulBiasOp add tensor parallel sbp
  oneflow/user/ops/grouped_matmul_bias_op.cpp
Labels: enhancement, automerge, op

#9927 add fused_codegeex_qkv_reshape
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/array_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/fused_codegeex_qkv_reshape_kernel.cu
  oneflow/user/ops/fused_codegeex_qkv_reshape.cpp
  python/oneflow/test/modules/test_fused_codegeex_qkv_reshape.py
Labels: enhancement, automerge, eager, api

#9837 removable hook and support (non) full backward hook
  docs/source/nn.rst
  python/oneflow/nn/__init__.py
  python/oneflow/nn/graph/proxy.py
  python/oneflow/nn/modules/module.py
  python/oneflow/test/modules/test_module.py
  python/oneflow/utils/hooks.py
Labels: feature, automerge, python

#9867 Add fused scale mask bias softmax
  oneflow/core/autograd/gradient_funcs/fused_scale_mask_bias_softmax.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/fused_scale_mask_bias_softmax.cu
  oneflow/user/ops/fused_scale_mask_bias_softmax_op.cpp
  python/oneflow/test/modules/test_fused_scale_mask_bias_softmax.py
Labels: enhancement, op

#9933 FusedMultiHeadAttentionInferenceV2
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/ir/lib/OneFlow/OneFlowRewrites.cpp
  oneflow/ir/lib/OneFlow/PDLL/ForwardOpPatterns.pdll
  oneflow/ir/lib/OneFlow/PDLL/OneFlowPDLLUtils.pdll
  oneflow/ir/test/OneFlow/fuse_forward_ops.mlir
  oneflow/user/kernels/fused_multi_head_attention_inference_kernel.cu
  oneflow/user/ops/fused_multi_head_attention_inference_op.cpp
  python/oneflow/test/modules/test_fused_multi_head_attention_inference.py
Labels: enhancement, automerge, op

#9874 fix glu op and kernel to support no bias input
  oneflow/core/autograd/gradient_funcs/fused_glu.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/ir/lib/OneFlow/PDLL/FuseOpsWithBackwardImplPattern.pdll
  oneflow/user/kernels/fused_glu_kernel.cu
  oneflow/user/ops/fused_glu_op.cpp
  python/oneflow/test/modules/test_fused_glu.py
Labels: feature, automerge, op

#9926 fix infinite loop on lazy mock torch dummy object
  python/oneflow/mock_torch/__init__.py
  python/oneflow/test/misc/test_mock_scope.py
Labels: automerge, bug, python

#9950 [fmha] packed qkv and output_layout
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/ir/lib/OneFlow/PDLL/ForwardOpPatterns.pdll
  oneflow/ir/test/OneFlow/fuse_forward_ops.mlir
  oneflow/user/kernels/fused_multi_head_attention_inference_kernel.cu
  oneflow/user/ops/fused_multi_head_attention_inference_op.cpp
  python/oneflow/test/modules/test_fused_multi_head_attention_inference.py
Labels: enhancement, automerge, op

#9935 support parameter offload
  oneflow/core/framework/tensor.h
  python/oneflow/test/expensive/test_global_tensor_offload.py
  python/oneflow/test/expensive/test_tensor_offload.py
Labels: feature, automerge, bug, eager

#9718 Feat straighten op graph
  oneflow/core/auto_parallel/auto_memory.cpp
  oneflow/core/auto_parallel/auto_memory.h
  oneflow/core/auto_parallel/sbp_constructor.cpp
  oneflow/core/auto_parallel/sbp_graph.cpp
  oneflow/core/auto_parallel/sbp_node.cpp
  oneflow/core/graph/op_graph.cpp
  oneflow/core/graph/straighten_nodes.cpp
  oneflow/core/job_rewriter/insert_nccl_logical_op_pass.cpp
  oneflow/core/job_rewriter/logical_chain_pass.cpp
  oneflow/core/job_rewriter/pass_util.cpp
  oneflow/core/job_rewriter/pass_util.h
Labels: feature, automerge, graph

#9947 Removed comparison with numpy in ctc_loss test
  python/oneflow/test/modules/test_ctc_loss.py
Labels: bug, test, python

#9946 add .clangd for CUDA support by OneFlow's custom clangd
  .clangd
Labels: feature, automerge, build

#9960 fix: state_dict_register
  python/oneflow/nn/modules/module.py
  python/oneflow/test/modules/test_module.py
Labels: automerge, bug, python

#9948 Enlarge the tolorance of test_global_einsum_tensor_contraction.
  python/oneflow/test/modules/test_global_einsum_matmul.py
  python/oneflow/test/modules/test_global_einsum_matrix_column_sum.py
  python/oneflow/test/modules/test_global_einsum_tensor_contraction.py
  python/oneflow/test/modules/test_global_higher_derivative_div.py
Labels: automerge, bug, ci, python

#9963 FusedAttentionConcatPastKeyValue
  cmake/oneflow.cmake
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/fused_attention_functor.cpp
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/fused_attention_kernels.cu
  oneflow/user/ops/fused_attention_ops.cpp
  oneflow/user/ops/fused_multi_head_attention_inference_op.cpp
  python/oneflow/test/modules/test_fused_attention_ops.py
Labels: feature, automerge, op

#9959 Add and export Layout / MemoryFormat Class
  oneflow/api/python/framework/layout.cpp
  oneflow/api/python/framework/memory_format.cpp
  oneflow/api/python/functional/common.cpp
  oneflow/api/python/functional/common.h
  oneflow/api/python/functional/python_arg.cpp
  oneflow/api/python/functional/value_types.cpp
  oneflow/api/python/functional/value_types.h
  oneflow/core/framework/layout.cpp
  oneflow/core/framework/layout.h
  oneflow/core/framework/memory_format.cpp
  oneflow/core/framework/memory_format.h
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/random_functor.cpp
  python/oneflow/__init__.py
  python/oneflow/test/modules/test_randn.py
  tools/functional/generate_functional_api.py
  tools/functional/generator.py
Labels: enhancement, automerge, api, python

#9932 give small_vector a default size kOpArgsReservedSize
  oneflow/core/common/op_args_vector.h
  oneflow/core/common/small_vector.h
  oneflow/core/eager/eager_blob_object.h
  oneflow/core/eager/local_dep_object.h
  oneflow/core/framework/instructions_builder.cpp
  oneflow/core/framework/instructions_builder.h
  oneflow/core/framework/tensor_tuple.h
  oneflow/core/vm/ep_record_event_instruction_policy.h
  oneflow/core/vm/stream_record_event_instruction_policy.cpp
  oneflow/core/vm/stream_record_event_instruction_policy.h
  oneflow/core/vm/stream_wait_event_instruction_policy.cpp
  oneflow/core/vm/stream_wait_event_instruction_policy.h
  oneflow/core/vm/stream_wait_instruction_policy.cpp
  oneflow/core/vm/stream_wait_instruction_policy.h
  oneflow/user/kernels/stateful_opkernel.cpp
  python/oneflow/optim/optimizer.py
Labels: enhancement, automerge, system

#9962 [Resubmit] Refine tensor storage
  oneflow/api/python/dlpack/converter.cpp
  oneflow/api/python/functional/tensor_api.cpp
  oneflow/core/eager/eager_blob_object.cpp
  oneflow/core/eager/eager_blob_object.h
  oneflow/core/eager/tensor_storage.cpp
  oneflow/core/eager/tensor_storage.h
  oneflow/core/framework/tensor_impl.cpp
  oneflow/core/framework/tensor_storage.cpp
  oneflow/core/vm/release_tensor_instruction_policy.h
Labels: enhancement, automerge, eager

#9958 Add exp2 api
  docs/source/tensor.rst
  oneflow/api/python/framework/tensor_functions.cpp
  oneflow/core/autograd/higher_order_gradient_funcs/math_unary_op.cpp
  oneflow/core/ep/common/primitive/binary_functor.h
  oneflow/core/ep/common/primitive/broadcast_elementwise_binary.h
  oneflow/core/ep/common/primitive/elementwise_unary.h
  oneflow/core/ep/common/primitive/unary_functor.h
  oneflow/core/ep/cpu/primitive/unary_functor.h
  oneflow/core/ep/cuda/primitive/binary_functor.cuh
  oneflow/core/ep/cuda/primitive/unary_functor.cuh
  oneflow/core/ep/include/primitive/binary_op.h
  oneflow/core/ep/include/primitive/unary_op.h
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/higher_derivative_functor.cpp
  oneflow/core/functional/impl/unary_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/math_unary_elementwise_primitive_kernel.cpp
  oneflow/user/ops/math_unary_elementwise_seq.h
  python/oneflow/__init__.py
  python/oneflow/framework/docstr/math_ops.py
  python/oneflow/framework/docstr/tensor.py
  python/oneflow/test/modules/test_global_math_op_higher_derivative.py
  python/oneflow/test/modules/test_global_math_ops.py
  python/oneflow/test/modules/test_math_op_higher_derivative.py
  python/oneflow/test/modules/test_math_ops.py
  python/oneflow/test/tensor/test_bfloat16_activation.py
  python/oneflow/test/tensor/test_tensor_part_2.py
Labels: enhancement, automerge, op, api, interface

#9969 remove onerec
  cmake/third_party.cmake
  cmake/third_party/liburing.cmake
  cmake/third_party/lz4.cmake
  docs/source/oneflow.rst
  oneflow/api/python/functional/dispatch_stateful_ops.cpp
  oneflow/api/python/functional/dispatch_stateful_ops.yaml
  oneflow/core/embedding/persistent_table.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/dataset_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/data/onerec_data_reader.h
  oneflow/user/data/onerec_dataset.h
  oneflow/user/data/onerec_parser.h
  oneflow/user/kernels/example_generated.h
  oneflow/user/kernels/onerec_decoder_kernels.cpp
  oneflow/user/kernels/onerec_reader_kernel.cpp
  oneflow/user/ops/onerec_decoder_op.cpp
  oneflow/user/ops/onerec_reader_op.cpp
  python/oneflow/__init__.py
  python/oneflow/framework/docstr/dataset.py
  python/oneflow/nn/__init__.py
  python/oneflow/nn/modules/dataset.py
  python/oneflow/test/README.md
  python/oneflow/test/modules/test_one_rec_ops.py
Labels: purge, automerge, op

#9974 refine offload test
  python/oneflow/test/expensive/test_tensor_offload.py
Labels: automerge, bug, eager, test

#9938 Refine CUDA/CPU oom error
  oneflow/core/common/mem_util.cpp
  oneflow/core/common/mem_util.h
  oneflow/core/ep/cpu/cpu_device.cpp
  oneflow/core/ep/cuda/cuda_device.cpp
Labels: enhancement, automerge, eager

#9951 add: requires_grad in EmptyFunctor, add: empty_strided
  oneflow/api/cpp/framework/graph.cpp
  oneflow/api/cpp/framework/tensor.cpp
  oneflow/api/python/functional/indexing.cpp
  oneflow/api/python/functional/tensor_api.cpp
  oneflow/api/python/utils/tensor_utils.cpp
  oneflow/core/autograd/gradient_funcs/narrow.cpp
  oneflow/core/framework/random_generator_impl.cpp
  oneflow/core/framework/tensor_impl.cpp
  oneflow/core/framework/tensor_methods.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/array_functor.cpp
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/core/functional/impl/random_functor.cpp
  oneflow/core/functional/impl/rnn_functor.cpp
  oneflow/ir/lib/OneFlow/OneFlowSupport.cpp
  oneflow/user/kernels/empty_kernel.cpp
  python/oneflow/__init__.py
  python/oneflow/nn/modules/empty.py
  python/oneflow/test/modules/test_activation.py
  python/oneflow/test/modules/test_empty.py
  python/oneflow/test/modules/test_rrelu.py
Labels: feature, automerge, op

#9921 friendly CHECK_XX_OR_RETURN
  oneflow/core/common/maybe.h
  oneflow/core/common/maybe_test.cpp
Labels: enhancement, automerge, system

#9965 support get eager module type in forward
  python/oneflow/nn/graph/graph.py
  python/oneflow/nn/graph/proxy.py
  python/oneflow/test/graph/test_graph_block.py
Labels: feature, automerge, bug, graph

#9976 update DummyModule
  python/oneflow/mock_torch/__init__.py
Labels: enhancement, automerge, bug, eager, python

#9970 unset lazy&verbose env var when disabling mock torch by command line
  python/oneflow/mock_torch/__init__.py
  python/oneflow/mock_torch/__main__.py
  python/oneflow/test/misc/test_mock_scope.py
Labels: automerge, bug, python

#9964 Tensor api
  docs/source/tensor.rst
  oneflow/api/python/framework/tensor_functions.cpp
  python/oneflow/framework/docstr/tensor.py
  python/oneflow/framework/tensor.py
Labels: feature, automerge, op, api, refactor, interface

#9977 Allow past_key and past_value to be None
  .github/workflows/test.yml
  ci/check/run_clang_tidy.py
  oneflow/core/common/maybe.h
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/fused_attention_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/fused_attention_kernels.cu
  oneflow/user/ops/fused_attention_ops.cpp
  python/oneflow/test/modules/test_fused_attention_ops.py
Labels: enhancement, automerge, op

#9545 Dev add lerp
  docs/source/oneflow.rst
  docs/source/tensor.rst
  oneflow/api/python/framework/tensor_functions.cpp
  oneflow/core/autograd/gradient_funcs/lerp.cpp
  oneflow/core/framework/tensor_methods.cpp
  oneflow/core/framework/tensor_methods.h
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/array_functor.cpp
  oneflow/core/functional/impl/binary_functor.cpp
  oneflow/core/functional/impl/math_functor.cpp
  oneflow/core/functional/impl/unary_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/lerp_kernel.cpp
  oneflow/user/kernels/lerp_kernel_util.cpp
  oneflow/user/kernels/lerp_kernel_util.cu
  oneflow/user/kernels/lerp_kernel_util.h
  oneflow/user/ops/lerp_op.cpp
  python/oneflow/__init__.py
  python/oneflow/framework/docstr/__init__.py
  python/oneflow/framework/docstr/lerp.py
  python/oneflow/framework/docstr/math_ops.py
  python/oneflow/framework/docstr/quantile.py
  python/oneflow/framework/docstr/tensor.py
  python/oneflow/test/modules/test_global_lerp.py
  python/oneflow/test/modules/test_lerp.py
  python/oneflow/test/modules/test_quantile.py
Labels: feature, automerge, op, documentation

#9953 fix closure make loss nondifferentiable
  python/oneflow/nn/optimizer/adadelta.py
  python/oneflow/nn/optimizer/adagrad.py
  python/oneflow/nn/optimizer/adam.py
  python/oneflow/nn/optimizer/adamw.py
  python/oneflow/nn/optimizer/lamb.py
  python/oneflow/nn/optimizer/rmsprop.py
  python/oneflow/nn/optimizer/sgd.py
Labels: automerge, bug, python

#9984 nn.Graph with_dynamic_input_shape
  python/oneflow/nn/graph/cache.py
  python/oneflow/nn/graph/graph.py
  python/oneflow/test/expensive/test_graph_multi_graph_v2.py
Labels: feature, automerge, graph

#9981 Add offload docs
  docs/source/tensor.rst
  python/oneflow/framework/docstr/tensor.py
Labels: automerge, op, documentation, api

#9588 Refactor NCCL logical and fix many LogicalChain bugs
  oneflow/core/job_rewriter/insert_nccl_logical_op_pass.cpp
  oneflow/core/job_rewriter/logical_chain_pass.cpp
Labels: bottleneck, automerge, bug, graph

#9989 update mock disable behaviour
  python/oneflow/mock_torch/__init__.py
  python/oneflow/test/misc/test_mock_diffusers.py
Labels: enhancement, automerge, bug, python

#9991 Add support for variable sequence length in fmha
  CMakeLists.txt
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/fused_attention_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/ir/lib/OneFlow/OneFlowRewrites.cpp
  oneflow/ir/lib/OneFlow/PDLL/ForwardOpPatterns.pdll
  oneflow/ir/lib/OneFlow/PDLL/OneFlowPDLLUtils.pdll
  oneflow/ir/test/OneFlow/fuse_forward_ops.mlir
  oneflow/user/kernels/fused_attention_kernels.cu
  oneflow/user/ops/fused_attention_ops.cpp
  python/oneflow/test/modules/test_fused_attention_ops.py
Labels: feature, automerge, op

#9806 Optimize graph run
  python/oneflow/framework/args_tree.py
  python/oneflow/nn/graph/graph.py
  python/oneflow/test/graph/test_graph_io_check.py
Labels: enhancement, python, graph

#9987 Support complex64 and complex128 datatype, construt ComplexFloatTensor and ComplexDoubleTensor, CompleDoubleAttr
  oneflow/api/python/framework/dtype.cpp
  oneflow/api/python/framework/tensor.cpp
  oneflow/api/python/framework/tensortype.cpp
  oneflow/api/python/functional/common.cpp
  oneflow/api/python/functional/common.h
  oneflow/api/python/functional/python_arg.cpp
  oneflow/api/python/functional/value_types.cpp
  oneflow/api/python/functional/value_types.h
  oneflow/core/common/data_type.cpp
  oneflow/core/common/data_type.h
  oneflow/core/common/data_type_seq.h
  oneflow/core/common/hash.h
  oneflow/core/common/scalar.cpp
  oneflow/core/common/scalar.h
  oneflow/core/common/type_traits.h
  oneflow/core/common/util.h
  oneflow/core/ep/cpu/primitive/fill.cpp
  oneflow/core/ep/cpu/primitive/type_seq.h
  oneflow/core/framework/attr_value.h
  oneflow/core/framework/attr_value_accessor.cpp
  oneflow/core/framework/user_op_attr.proto
  oneflow/core/functional/impl/array_functor.cpp
  oneflow/extension/python/numpy.cpp
  oneflow/extension/python/numpy_internal.h
  oneflow/ir/include/OneFlow/OneFlowBase.td
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/ir/lib/OneFlow/UserOpConversion.cpp
  oneflow/ir/oneflow-translate/lib/OneFlow/Importer.cpp
  oneflow/user/kernels/constant_kernel.cpp
  oneflow/user/kernels/stateful_opkernel.h
  python/oneflow/__init__.py
  python/oneflow/cuda/type_tensor.py
  python/oneflow/framework/dtype.py
  python/oneflow/framework/type_tensor.py
  python/oneflow/nn/modules/constant.py
  python/oneflow/test/tensor/test_complex.py
  tools/oneflow-tblgen/op_schema_header.inc
  tools/oneflow-tblgen/op_schema_source.inc
  tools/oneflow-tblgen/op_schema_types.inc
Labels: feature, automerge, system, api

#9952 Fix straighten connection bug
  oneflow/core/graph/straighten_nodes.cpp
  oneflow/core/graph/straighten_nodes.h
  oneflow/core/graph/task_graph.cpp
Labels: automerge, bug, need-clean-ccache, graph

#9999 return False in dummy module __bool__ and add safetensors into hazard list
  python/oneflow/mock_torch/__init__.py
  python/oneflow/test/misc/test_mock_scope.py
Labels: automerge, bug, python

#9996 Add tril_
  oneflow/api/python/framework/tensor_functions.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/array_functor.cpp
Labels: feature, automerge, op

#10001 conv tuning cache
  oneflow/core/job_rewriter/cutlass_conv_tuning_warmup_pass.cpp
  oneflow/ir/include/OneFlow/OneFlowBase.td
  oneflow/user/kernels/conv_cutlass_kernels.cu
Labels: enhancement, automerge, op

#10003 dynamic support conv alg cache
  oneflow/core/job_rewriter/job_completer.cpp
  python/oneflow/nn/graph/cache.py
  python/oneflow/nn/graph/graph.py
Labels: enhancement, feature, automerge, graph

#10000 Add half support for argsort and top_k
  oneflow/core/common/data_type.h
  oneflow/user/kernels/arg_sort_kernel.cu
  oneflow/user/kernels/heap_selection_top_k_kernel.cu
  oneflow/user/kernels/radix_sort_top_k_kernel.cu
Labels: enhancement, automerge, op

#10002 fix scatter reduce default value to None
  python/oneflow/framework/tensor.py
  python/oneflow/test/modules/test_scatter_ops.py
Labels: bug, op

#9998 check PYTHONPATH exist
  python/oneflow/mock_torch/__main__.py
Labels: enhancement, automerge, bug, python

#10005 Add half support for exponential
  oneflow/user/kernels/cum_forward_kernel.cu
  oneflow/user/kernels/distributions/exponential_distribution.cu
  oneflow/user/kernels/distributions/exponential_kernel.cpp
Labels: enhancement, automerge, op

#10007 Dev embedding kwargs
  python/oneflow/nn/modules/sparse.py
Labels: enhancement, op, api, embedding

#9975 Fix handle_size_arg when len(size) == 0
  python/oneflow/nn/modules/constant.py
  python/oneflow/nn/modules/utils.py
  python/oneflow/test/modules/test_constant.py
Labels: bug, python

#10010 fix fmha dynamic shape
  oneflow/core/functional/impl/fused_attention_functor.cpp
Labels: automerge, bug, op

#10012 Fix safetensors Typo
  python/oneflow/mock_torch/__init__.py
Labels: automerge, bug, python

#10017 graph runtime state dict save/load without eager
  python/oneflow/nn/graph/cache.py
  python/oneflow/nn/graph/graph.py
  python/oneflow/test/expensive/test_graph_multi_graph_v2.py
Labels: enhancement, feature, graph

#9906 Feat: AddBiasResidualLayerNorm
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/core/job_rewriter/auto_mixed_precision_lists.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/skip_layer_norm_kernel.cu
  oneflow/user/ops/skip_layer_norm_op.cpp
  python/oneflow/test/modules/test_skip_layer_norm.py
Labels: feature, op

#10016 Fix and refine graph save runtime_state_dict
  python/oneflow/nn/graph/cache.py
  python/oneflow/nn/graph/graph.py
  python/oneflow/test/expensive/test_graph_multi_graph.py
  python/oneflow/test/expensive/test_graph_multi_graph_v2.py
Labels: automerge, bug, graph

#10022 group_size -> regularized_group_size as group_size could be -1
  oneflow/core/functional/impl/quantization.cpp
Labels: automerge, bug, op

#9955 fix segfault and infinite loop in python stack getter
  oneflow/core/vm/instruction.h
  oneflow/extension/stack/foreign_stack_getter.h
  oneflow/extension/stack/python/stack_getter.cpp
Labels: automerge, bug, eager

#10018 Update autotest and check global graph test
  python/oneflow/test/modules/test_global_dropout.py
  python/oneflow/test/modules/test_global_eye.py
  python/oneflow/test/modules/test_global_repeat.py
  python/oneflow/test/modules/test_global_tile.py
  python/oneflow/test/modules/test_global_view.py
  python/oneflow/test_utils/automated_test_util/torch_flow_dual_object.py
Labels: automerge, bug, test, graph, global

#9726 Push check global graph op test
  python/oneflow/test/modules/test_addcmul.py
  python/oneflow/test/modules/test_fused_glu.py
  python/oneflow/test/modules/test_global_add.py
  python/oneflow/test/modules/test_global_addcdiv.py
  python/oneflow/test/modules/test_global_atleast.py
  python/oneflow/test/modules/test_global_broadcast_matmul.py
  python/oneflow/test/modules/test_global_clone.py
  python/oneflow/test/modules/test_global_einsum_tensor_contraction.py
  python/oneflow/test/modules/test_global_fill.py
  python/oneflow/test/modules/test_global_fmod.py
  python/oneflow/test/modules/test_global_gru_cell.py
  python/oneflow/test/modules/test_global_higher_derivative_activation.py
  python/oneflow/test/modules/test_global_higher_derivative_div.py
  python/oneflow/test/modules/test_global_inv.py
  python/oneflow/test/modules/test_global_lstm_cell.py
  python/oneflow/test/modules/test_global_nansum.py
  python/oneflow/test/modules/test_global_pad.py
  python/oneflow/test/modules/test_global_reciprocal.py
  python/oneflow/test/modules/test_global_roll.py
  python/oneflow/test/modules/test_global_sort.py
  python/oneflow/test/modules/test_global_squeeze.py
  python/oneflow/test/modules/test_global_sum.py
  python/oneflow/test/modules/test_global_tile.py
  python/oneflow/test/modules/test_global_transpose.py
  python/oneflow/test/modules/test_global_unsqueeze.py
  python/oneflow/test/modules/test_global_var.py
  python/oneflow/test/modules/test_global_vector_matrix_product.py
  python/oneflow/test/modules/test_hann_window.py
  python/oneflow/test/modules/test_logical_reduce.py
  python/oneflow/test/modules/test_max.py
  python/oneflow/test/modules/test_median.py
  python/oneflow/test/modules/test_min.py
  python/oneflow/test/modules/test_optim_rmsprop.py
  python/oneflow/test/modules/test_prod.py
  python/oneflow/test/modules/test_reshape.py
  python/oneflow/test/modules/test_select.py
  python/oneflow/test/modules/test_trunc_divide.py
  python/oneflow/test/modules/test_view.py
Labels: automerge, bug, op, test, graph, global

#10028 GetDataDtype support uint64
  oneflow/core/common/data_type.h
  oneflow/core/common/data_type_seq.h
Labels: enhancement, automerge, bug, eager, api

#10026 Fixes about AutoMixedPrecision pass and LayerNorm module
  oneflow/core/job/job_build_and_infer_ctx.cpp
  oneflow/core/job_rewriter/auto_mixed_precision.cpp
  python/oneflow/nn/modules/normalization.py
Labels: bug, graph

#10035 Remove CUDA arch 61
  cmake/cuda.cmake
Labels: automerge, bug, build

#10029 create primitive factory only when the factory has been registered
  oneflow/core/ep/include/primitive/primitive.h
Labels: enhancement, automerge, bug, eager, api

#10019 support_register_op_arange_fp16 cpu
  oneflow/user/kernels/arange_kernel.cpp
  python/oneflow/test/modules/test_arange.py
Labels: feature, api, ir, global

#10043 supprt fine-grained disable
  .github/workflows/test.yml
  python/oneflow/mock_torch/__init__.py
  python/oneflow/test/misc/test_mock_scope.py
Labels: feature, automerge, bug, python

#9983 add PyParseArgs function for CPython
  oneflow/api/python/framework/tensor_functions.cpp
  oneflow/api/python/framework/tensor_functions_util.h
  python/oneflow/test/tensor/test_tensor_part_1.py
  python/oneflow/test/tensor/test_tensor_part_2.py
Labels: enhancement, automerge, op, api

#10013 modified python/oneflow/optim/optimizer.py
  python/oneflow/nn/optimizer/adadelta.py
  python/oneflow/nn/optimizer/adagrad.py
  python/oneflow/nn/optimizer/adam.py
  python/oneflow/nn/optimizer/adamw.py
  python/oneflow/nn/optimizer/lamb.py
  python/oneflow/nn/optimizer/rmsprop.py
  python/oneflow/nn/optimizer/sgd.py
  python/oneflow/one_embedding.py
  python/oneflow/optim/optimizer.py
Labels: automerge, bug, python

#9997 Fix diffusers mock test
  .github/workflows/test.yml
  ci/test/test_mock_script.sh
  python/oneflow/test/expensive/test_resnet50_without_bn.py
  python/oneflow/test/misc/mock_example.py
  python/oneflow/test/misc/test_mock_scope.py
  python/oneflow/test/misc/test_placement.py
  python/oneflow/test/misc/test_pybind11_caster.py
  python/oneflow/test/misc/test_stack_getter.py
Labels: automerge, bug, ci, need-all-tests-even-fail

#10033 Warning of parameter miss match when load graph
  python/oneflow/nn/graph/graph.py
Labels: automerge, bug, graph

#10036 skip rms norm
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/nn_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/skip_rms_norm_kernel.cu
  oneflow/user/ops/skip_rms_norm_op.cpp
  python/oneflow/test/modules/test_skip_rms_norm.py
Labels: feature, automerge, op

#10004 Support adaptive avg pool fp16
  oneflow/user/kernels/adaptive_avg_pool_cpu_kernel.cpp
  oneflow/user/kernels/adaptive_avg_pool_gpu_kernel.cu
  python/oneflow/test/modules/test_adaptive_pool_fp16.py
Labels: feature, op, test, api

#10045 fix GroupNorm backward grad
  oneflow/core/autograd/gradient_funcs/group_norm.cpp
Labels: bug, op

#10057 fix checkpointing pass ctrl edge cross placement
  oneflow/core/graph/task_graph.cpp
  oneflow/core/job_rewriter/checkpointing_pass.cpp
Labels: automerge, bug, graph

#10056 Fix global mode print tensor bug
  oneflow/api/python/functional/tensor_api.cpp
  oneflow/core/framework/op_interpreter.h
  oneflow/core/framework/op_interpreter/op_interpreter.cpp
  oneflow/core/framework/tensor.h
  oneflow/core/functional/impl/array_functor.cpp
  oneflow/core/functional/impl/math_functor.cpp
  oneflow/core/functional/impl/random_functor.cpp
  python/oneflow/test/graph/test_graph_with_global.py
Labels: feature, automerge, bug, python, global

#10054 Fix process cannot exit
  oneflow/core/common/util.cpp
Labels: automerge, bug, system

#9979 flow._C.frac
  docs/source/oneflow.rst
  docs/source/tensor.rst
  oneflow/api/python/framework/tensor_functions.cpp
  oneflow/core/autograd/gradient_funcs/activation.cpp
  oneflow/core/functional/functional_api.yaml
  oneflow/core/functional/impl/activation_functor.cpp
  oneflow/ir/include/OneFlow/OneFlowUserOps.td
  oneflow/user/kernels/frac_kernel.cpp
  oneflow/user/kernels/frac_kernel.cu
  oneflow/user/ops/frac_op.cpp
  python/oneflow/__init__.py
  python/oneflow/framework/docstr/array_ops.py
  python/oneflow/framework/docstr/tensor.py
  python/oneflow/test/modules/test_frac.py
  python/oneflow/test/modules/test_global_frac.py
Labels: enhancement, feature, eager, op, api

#9982 对齐Torch Special module
  docs/source/index.rst
  docs/source/special.rst
  python/oneflow/__init__.py
  python/oneflow/framework/docstr/__init__.py
  python/oneflow/framework/docstr/special_ops.py
  python/oneflow/special/__init__.py
  python/oneflow/special/special_ops.py
  python/oneflow/test/modules/test_special_ops.py
Labels: enhancement, automerge, op, api, interface

#10058 fix typo
  python/oneflow/test/modules/test_groupwise_quantization.py
Labels: enhancement, bug, test
